@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

/*==========
DEFAULTS
=========*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
body {
    background-color: $light-grayish-blue;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*==========
MAIN LAYOUT
=========*/
main {
    background-color: #fff;;
    width: 80%;
    height: 80%;

    // border-radius: 18px;
    // overflow: hidden;
}







@media only screen and (min-width: 900px) {

    main {
        display: flex;
        flex-direction: row;
        // width: 700px;
        // height: 400px;
    }
}