@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
/*==========
DEFAULTS
=========*/
* {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf2f8;
  font-family: 'Manrope', sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.share-button {
  position: absolute;
  z-index: 5;
  top: 25%;
  right: 10%;
  width: 45px;
  height: 45px;
  background-color: #ecf2f8;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.share-button .share-button svg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*==========
MAIN LAYOUT
=========*/
article {
  -webkit-box-shadow: 10px 10px 25px rgba(201, 213, 225, 0.2);
          box-shadow: 10px 10px 25px rgba(201, 213, 225, 0.2);
  background-color: #fff;
  width: 90%;
  border-radius: 10px;
}

article .article-image-wrap {
  min-height: 300px;
  border-radius: 10px 10px 0 0;
  background-image: url(../images/drawers.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

article .article-content-wrap .content-top {
  padding: 3em 2.5em 0;
}

article .article-content-wrap .content-top h1 {
  color: #48556a;
  margin-bottom: 0.9em;
  font-size: 1.5rem;
  font-weight: 700;
}

article .article-content-wrap .content-top p {
  color: #6d7f97;
  line-height: 1.7em;
}

article .article-content-wrap .content-bot {
  position: relative;
  margin-top: 2em;
  padding: 1em 2.5em 2em;
}

article .article-content-wrap .content-bot .author-wrap .author-img {
  display: block;
  float: left;
  width: 55px;
  border-radius: 50%;
  margin-right: 1.3em;
}

article .article-content-wrap .content-bot .author-wrap .author-name {
  color: #48556a;
  margin-bottom: 0.4em;
}

article .article-content-wrap .content-bot .author-wrap .date-published {
  color: #9eafc2;
}

article .article-content-wrap .content-bot .share-options {
  background-color: #48556a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.5em;
}

article .article-content-wrap .content-bot .share-options span {
  color: #9eafc2;
  letter-spacing: 5px;
}

article .article-content-wrap .content-bot .share-options span, article .article-content-wrap .content-bot .share-options svg {
  margin-right: 1.3em;
}

article .article-content-wrap .content-bot.turn-on-share-options .share-options {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

article .article-content-wrap .content-bot.turn-on-share-options .share-button {
  background-color: #9eafc2;
}

article .article-content-wrap .content-bot.turn-on-share-options .share-button path {
  fill: #fff;
}

.attribution {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  font-size: 11px;
  text-align: center;
  background-color: #fff;
  padding: 2em;
  z-index: -1;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (min-width: 900px) {
  article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1000px;
    min-height: 400px;
  }
  article .article-image-wrap {
    width: 400px;
    border-radius: 10px 0 0 10px;
    background-position: left;
  }
  article .article-content-wrap {
    width: 600px;
  }
  article .article-content-wrap .content-top h1 {
    font-size: 1.8rem;
  }
  article .article-content-wrap .content-bot .share-options {
    -webkit-box-shadow: 10px 10px 25px rgba(201, 213, 225, 0.2);
            box-shadow: 10px 10px 25px rgba(201, 213, 225, 0.2);
    border-radius: 5px;
    width: 280px;
    height: 30px;
    left: auto;
    top: -55px;
    right: -55px;
    padding: 1.5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  article .article-content-wrap .content-bot .share-options:before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    z-index: -1;
    border-top: 20px solid #48556a;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
/*# sourceMappingURL=style.css.map */